*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.navbar{
  display: block;
  font-family: raleway;
  float:right;
  padding-top: 20px;
  font-size: 25px;
  list-style-type: none;
}

.logo{
  padding: 10px 10px;
  margin-bottom: 0px;
  background: pink;
  position:fixed;
  left:10px;
  top:15px;
  float: left;
  z-index: 1;
}

.btn{
  color:black;
  background:white;
  padding:10px 20px;
  font-size: 20px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:full-width;
}

.btn:hover{
  border:none;
  background: pink;
  padding: 15px 20px;
  color:white;
}
.mobileIcon{
  display: none;
}

@media all and (max-width: 550px){
  .btn{

    color: grey;
    padding: 5px 100px;
    display:none;
  }
  .logo{
    position: fixed;
    z-index: 1;
  }
  .mobileIcon{
    display:inline-flex;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    line-height: 46px;
    border-radius: 30%;
    font-size: 20px;
    color: white;
    text-align: center;
    background: pink;

  }
}
.home{
  height: 100vh;
  background: pink;
  display:inline-block;
  width:100%;

}
.about{
  height: 100vh;
  background: white;
  display:inline-block;
  width:100%;
}
.blog{
  height: 100vh;
  background: pink;
  display:inline-block;
  width:100%;
}
.contact{
  height: 100vh;
  background: pink;
  display:inline-block;
  width:100%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
  height: 200px;
  width: 200px;
  position: relative;
  align-content: center;
  padding-top: 10px;
}
p{
  font-family: 'American Typewriter, serif';
  font-size: 50px;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #FFC0CB;
  margin-top: 10px;
  color: pink;

}
.edu{
  font-family: 'American Typewriter, serif';
  background: pink;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FFC0CB;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  align-items: center;
}
li{
  list-style: none;
  text-align: center;
  padding-bottom: 2px;
}
h1{
  text-align: center;
  text-decoration: underline;
  padding-top: 5px;
  border-top: 2px solid #000;
  font-size: 20px;
}
h2{
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.bullets{
  text-align: center;
  list-style: square;
}
h3{
  font-family: 'American Typewriter, serif';
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  font-size: 20px;
}
.hobbyIcon{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  line-height: 100px;
  border-radius: 30%;
  font-size: 50px;
  color: white;
  text-align: center;
  background: pink;
}
